* {
    font-family: 'Azeret Mono', monospace;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}

body {
    background-image: url('https://picsum.photos/id/348/1800/1000');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    isolation: isolate;
}


/* ////////////////  HEADER ///////////////// */

.header {
    background-color: #fff5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__title {
    text-align: center;
    flex-grow: 1;
    margin-right: 1rem;
    color: #000;
    /* letter-spacing: .2rem; */
}

.logo {
    margin-left: 1rem;
}
.logo__icon {
    font-size: 2rem;
    color: #000;
}




/* ///////////////   DESCRIPTION  ///////////////// */
.description {
    padding: 1rem;
    margin: 1rem;
    font-size: 1.3rem;
    color: yellow;
    font-weight: 200;
    background-color: #000e;
    letter-spacing: .05rem;
} 





/* to center the button vertically */

 main {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link {
    font-size: 1.3rem;
    text-decoration: none;
    background-color: yellow;
    color: black;
    padding: 2rem;
}

.link:hover {
    cursor: pointer;
}