* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}

html {
    background-image: url('https://picsum.photos/1800/1000');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}



/* ////////////////  HEADER ///////////////// */

.header {
    background-color: #0002;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*   */
