* {
  font-family: 'Azeret Mono', monospace;
  box-sizing: border-box;
  text-align: center;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3, .error-message {
  font-size: 1.2rem;
}

table {
  margin: auto;
  width: 80%;
  table-layout: fixed;
  text-align: center;
  background-color: black;
  border-collapse: collapse;
  height: 200px;
}

tr {
  display: flex;
  justify-content: stretch;
}

th, td {
  flex-grow: 1;
  font-weight: bold;
  padding: 10px;
  overflow: scroll;
  word-break: break-word;
  word-wrap: break-word;
  font-size: 0.8 rem;
}

th {
  color: yellow;
}

td {
  color: whitesmoke;
}


tbody tr:not(:has(td:empty)):hover {
  background-color: rgba(255, 248, 39, 0.563);
}

.destination-name {
  display: inline-block;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  max-height: 2.4em;
}

.hide-on-small-screen {
  display: block;
}

input[type="radio"] {
  display: none;
}

.radio-button {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid grey;
  margin-right: 10px;
  position: relative;
  top: 2px;
}

input[type="radio"]:checked + label .radio-button {
  background-color: #03adf5;
}

input[type="radio"] + label {
  font-size: 15px;
  color: #000;
  padding-left: 28px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #333;
}

.tube-form {
  max-width: 80%;
  margin: 0 auto;
  display:flex;
}

.radios {
  overflow: scroll;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.radio-group {
  padding: 10px;
  align-items: center;
}

.form-label {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: black;
  background-color: white;
  padding: 10px;
  margin: 0;
  border: 1px solid black;
}

.submit-button {
  padding: 10px;
  font-size: 15px;
  color: #FFF;
  background-color: black;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 10px;
  height: 100%;
  white-space: normal;
  min-width: 50px;
}

.submit-button:hover {
  background-color: #333;
}

@media screen and (max-width: 600px) {
  .hide-on-small-screen {
    display: none;
  }
}

/* ////////////////  HEADER ///////////////// */

.header {
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  text-align: center;
  flex-grow: 1;
  margin-right: 1rem;
  color: #000;
  /* letter-spacing: .2rem; */
}

.logo {
  margin-left: 1rem;
}
.logo__icon {
  font-size: 2rem;
  color: #000;
}
