* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}




/* ////////////////  HEADER ///////////////// */

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*   */
